*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

.main {
    display: flex;
}

.barra-lateral{
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(97, 0, 0);
} 

.barra-lateral-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-barra-lateral{
    text-align: center;
}

.img-barra-lateral img{
  filter: drop-shadow(0 0 10px rgb(253, 253, 253));
  width: 80%;
  border-radius: 50%;
  border: 8px solid rgb(161, 5, 13);
}

.menu {
    margin: 20px 0;
    text-align: center;
}

.menu a{
    color: rgb(255, 255, 255);
    opacity: 0.6;
    font-size: 25px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
}

.menu a.selected {
    opacity: 1;
}

.conteudo {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    padding: 0 3%;
}

section.descricao {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.descricao h2{
    filter: drop-shadow(0 0 3px rgb(61, 61, 61));
    color: rgb(161, 5, 13);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin: 15px 0;
    font-style: italic ;
}

section.descricao h2 > span-1{
    color: rgb(88, 88, 88);
}

section.descricao h2 > span-2{
    color: rgb(97, 0, 0);
}

section.descricao h3 {
    color: rgb(88, 88, 88);
    font-size: 30px;
}

section.descricao h3 > a{
    color: rgb(97, 0, 0);
    text-decoration: none;
}

p {
    color: rgb(88, 88, 88);
    font-size: 25px;
    margin-top: 40px;
}

.icons-social {
    margin-top: 20px;
}

.icons-social a {
    text-decoration: none;
    color: white;
    background-color: rgb(51, 51, 51);
    width: 45px;
    height: 45px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
}

